*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}


//https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421 go through this before you update reset